@import url(./common.css);

header{
    width:100%;
    position: fixed;
    height:80px;
    box-shadow:0 0 10px 0 rgb(0 0 0 / 6%);
    display:flex;
    align-items: center;
    background-color: #fff;
    z-index:100;
}

.headout {
    width:100%;
}

.headin{
    height:100%;
    padding:0 24px;
    margin:0 auto;
    max-width: 1128px;
    background-color: #fff;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.moimg {
    width: 150px;
    height: 25px;
    display: flex;
}

header nav {
    display:block;
    font-size: 18px;
}

.headmenu{
    padding-top:6px;
    display:flex;
    justify-content: flex-end;
}

.headmenu a {
    padding-left: 30px;
}

span {
    color: #fff
}

.trigger-menu {
    width: 30px;
    height: 16px;
    position: relative;
    background: none;
    border: none;
    display: none;
}

main div {
    font-size: 50px;
}

section {
    width: 100%;
    height: 100vh;
    position: relative;
}

.page01 {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.item {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image:url(/1/img/web_top_coin.mp4); */
}

.ahdlsms {
    margin-top: 80px;
    font-size: 50px;
}

.monimoni {
    font-size: 60px;
    margin-top: 30px;
}

.download {
    margin-top: 100px;
    height: 78px;
    padding: 0 50px;
    border: 0px;
    border-radius: 40px;
    background: #0068ff;
    font-size: 24px;
}

.page01 .video01 {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.page02 {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    background-color: #f2f6fd;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page02 p {
    padding-top: 60px;
    font-size: 50px;
}

.page03 {
    max-width: 1128px;
    height: 100%;
    margin: 0 auto;
    padding-top: 80px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.page03 span {
    font-size: 40px;
}

.page03 .swiper-wrap {
    width: 86%;
    overflow: hidden;
    position: absolute;
    right: -40%;
}

.page03 .swiper {
    width: 1200px;
    overflow: hidden;
}

.page03 .swiper-slide {
    object-fit: cover;
}

.page03 .swiper-slide img {

    width: 100%;

    border-radius: 50px;
}

.page04 {
    max-width: 1128px;
    height: 100%;
    margin: 0 auto;
    padding-top: 80px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.page04 span {
    font-size: 40px;
}

.page04 .swiper-area{
    width: 250px;
    height: 250px;
    border-radius: 50px;
    background-color: #f1f1f3;
    display:flex;
}

.page04 .swiper {
    width: 86%;
    overflow: hidden;
    position: absolute;
    right: -40%;
}

.page04 .swiper {
    width: 1000px;
    overflow: hidden;
}

.page04 .swiper-slide {
    object-fit: cover;
}

.page04 .swiper-slide img {
    width: 200px;
    height:180px;
}

.page04 div ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page04 img {
    width: 150px;
    height: 150px;
}

.page04 div p {
    font-size: 30px;
    text-align: center;
}

section:nth-child(5){
    background-color: #0090f6;
}

.page05 {
    padding: 200px 24px;
    max-width: 1128px;
    height: 100%;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.page05 p {
    color: #fff;

}

.page05 span {
    font-size: 40px;
}

.page05 div {
    height: 650px;
    background-image: url("../img/배경.png");
    background-repeat: no-repeat;
    background-size: 340px 650px;
    padding-right: 5%;
}

.page05 div ul img {
    width: 260px;
    margin: 50px 0 0 40px;
}

.page05 img {
    width: 254px;
    height: 550px;
}

section:nth-child(6){
    background-color: #0090f6;
}

.page06 {
    max-width: 1128px;
    height: 100%;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.page06 p {
    color: #fff;

}

.page06 span {
    font-size: 40px;
}

section:nth-child(7){
    background-color: #0090f6;
}

.page07 {
    max-width: 1128px;
    height: 100%;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.page07 p {
    color: #fff;

}

.page07 span {
    font-size: 40px;
}

.mission {
    width: 436px;
    height: 470px;
    margin: 10px;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mission p:nth-child(1) {
    font-size: 30px;
    text-align: center;
    margin-bottom: 16px;
    color: #000;
}

.mission p:nth-child(2) {
    font-size: 20px;
    text-align: center;
    color: blue;
    margin-bottom: 19px;
}

.mission img {
    width: 320px;
    height: 160px;
}

.jelly {
    background-color: blue;
    width: 214px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
}

.jelly img {
    width: 41px;
    height: 41px;
}

.jelly span {
    font-size: 24px;
}

.complete {
    position: absolute;
    right: 15%;
    top: 52%;
}

.complete img {
    width: 120px;
    height: 120px;
}

section:nth-child(8){
    background-color: #fff;
}

.page08 {
    max-width: 1128px;
    height: 100%;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.page08 span {
    font-size: 40px;
}

.page08 div video{
    border-radius: 30px;
}

.page10 {
    max-width: 1128px;
    height: 100%;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.btn10 {
    margin-top: 72px;
}

.btn10 span {
    color: #000;
    font-size: 24px;
}

.button10 {
    width: 226px;
    height: 94px;
    border: 2px solid #f1f2f3;
    border-radius: 20px;
}

.button10 img {
    width: 38px;
    height: 38px;
}

.google {
    display: flex;
    align-items: center;
    justify-content: center;
}

.apple {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: rgb(216, 216, 216);
    padding: 2%;
    position: relative;
}

footer section {
    height: 30vh;
}

.footerall {
    margin-top: 5%;
}

footer div {
    padding: 0 24px;
    font-size: 13px;
}

.footermenu li a:nth-child(2) {
    padding-left: 20px;
}

.footercall {
    padding: 0px;
    margin-top: 10px;
}

.footercall span {
    padding-left: 15px;
    color: #000;
}

.footerinfo {
    margin-top: 30px;
}

.footerinfo div {
    padding: 0px;
}

.footerinfo div:nth-child(1) {
    display: flex;
}

.footerinfo div:nth-child(2) {
    display: flex;
}

.footerinfo li {
    padding: 5px 11px 5px 0px;
    margin: 0px 10px 0px 0px;
}

.footercopy {
    margin-top: 20px;
    padding: 0px;
}

.footercopy span {
    color: #000;
}

.footercopy span:nth-child(1) {
    margin: 0px 15px 0px 0px;
}

.logo img {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100px;
    height: 35px;
    background-size: contain;
}

/* ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */

@media(max-width:960px) {

    header {
        height: 54px;
        z-index: 1;
    }

    header nav a {
        padding: 5%;
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #000;
    }

    header nav {
        font-size: 15px;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #fff;
        width: 100%;
        height: 100%;
        transform: translateY(-100%);
        transition: .5s;
    }

    header nav.active {
        transform: translateY(5%);
    }

    span {
        color: #fff;
    }

    .trigger-menu {
        width: 30px;
        height: 16px;
        position: relative;
        display: block;
    }

    .trigger-menu>span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
        transition: .5s;
    }

    .trigger-menu>span:nth-child(1) {
        top: 0;
    }

    .trigger-menu>span:nth-child(2) {
        top: 50%;
    }

    .trigger-menu>span:nth-child(3) {
        top: 100%;
    }

    .trigger-menu.active>span:nth-child(1) {
        top: 50%;
        transform: rotate(135deg);
    }

    .trigger-menu.active>span:nth-child(2) {
        top: 50%;
        opacity: 0;
    }

    .trigger-menu.active>span:nth-child(3) {
        top: 50%;
        transform: rotate(-135deg);
    }

    main div {
        font-size: 50px;
    }


    .page01 {
        height: 100vh;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }

    .item {
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* background-image:url(/1/img/web_top_coin.mp4); */
    }

    .ahdlsms {
        margin-top: 80px;
        font-size: 24px;
    }

    .monimoni {
        font-size: 60px;
        margin-top: 0px;
        margin-bottom: 300px;
    }

    .download {
        width: 90%;
        margin-top: 100px;
        height: 78px;
        padding: 0 50px;
        border: 0px;
        border-radius: 20px;
        background: #0068ff;
        font-size: 24px;
    }

    .page01 .video01 {
        bottom: 0;
        z-index: -1;
    }


    .page02 {
        height: 100vh;
        background-color: #f2f6fd;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .page02 img {
        width: 200px;
        height: 200px;
    }

    .page02 p {
        padding-top: 60px;
        font-size: 30px;
        text-align: center;
    }

    .page03 {
        height: 100vh;
        background-color: #fff;
        padding: 200px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .page03 p {
        font-size: 30px;
        text-align: center;
    }

    .page03 span:nth-child(1) {
        font-size: 17px;
    }

    .page03 span {
        font-size: 30px;
    }

    .slider {
        gap: 20px;
        width: 33%;
        display: flex;
        align-items: flex-start;
    }

    .slider li img {
        width: 171px;
        height: 180px;
        border: 0px;
        border-radius: 50px;
    }

    .page04 {
        height: 100vh;
        background-color: #fff;
        padding: 200px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .page04 p {
        font-size: 30px;
        text-align: center;
    }

    .page04 span {
        font-size: 17px;
    }

    .page04 div ul {
        width: 125px;
        height: 125px;
        border-radius: 25px;
        background-color: #f1f1f3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page04 img {
        width: 75px;
        height: 75px;
    }

    .page04 div p {
        font-size: 17px;
        text-align: center;
    }

    .page05 {
        width: 100%;
        height: 100vh;
        background-color: #0090f6;
        padding: 200px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .page05 p {
        color: #fff;
        font-size: 30px;
        text-align: center;

    }

    .page05 span {
        font-size: 17px;
    }

    .page05 div {
        height: 325px;
        background-image: url("../img/배경.png");
        background-repeat: no-repeat;
        background-size: 170px 325px;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    .page05 div ul img {
        width: 135px;
        height: 270px;
        margin: 30px 0 0 17px;
    }

    .page05 img {
        width: 254px;
        height: 550px;
    }

    .page06 {
        height: 100vh;
        background-color: #0090f6;
        padding: 200px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .page06 p {
        color: #fff;
        font-size: 30px;
        text-align: center;
    }

    .page06 span {
        font-size: 17px;
    }

    .page06 img {
        height: 600px;
    }

    .page07 {
        height: 100vh;
        background-color: #0090f6;
        padding: 200px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .page07 p {
        color: #fff;
        font-size: 30px;
        text-align: center;
    }

    .page07 span {
        font-size: 17px;
    }

    .mission {
        width: 218px;
        height: 235px;
        margin: 10px;
        background-color: #fff;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mission p:nth-child(1) {
        color: #000;
        font-size: 15px;
        text-align: center;
        margin-bottom: 8px;
    }

    .mission p:nth-child(2) {
        font-size: 10px;
        text-align: center;
        color: blue;
        margin-bottom: 9px;
    }

    .mission img {
        width: 160px;
        height: 80px;
    }

    .jelly {
        background-color: blue;
        width: 107px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 45px;
    }

    .jelly img {
        width: 20px;
        height: 20px;
    }

    .jelly span {
        font-size: 12px;
    }

    .page08 {
        height: 100vh;
        background-color: #fff;
        padding: 200px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .page08 p {
        font-size: 30px;
        text-align: center;
    }

    .page08 span {
        font-size: 17px;
    }

    .page10 {
        height: 100vh;
        background-color: #fff;
        padding: 200px 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        overflow: hidden;
    }

    .video02 {
        width: 205px;
        height: 235px;
    }

    .page10 p {
        font-size: 30px;
        text-align: left;
    }

    .btn10 {
        margin: 0;
    }


    .btn10 span {
        color: #000;
        font-size: 12px;
    }

    .button10 {
        width: 113px;
        height: 47px;
        border: 2px solid #f1f2f3;
        border-radius: 10px;
    }

    .button10 img {
        width: 19px;
        height: 19px;
    }

    .google {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .apple {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer {
        background-color: rgb(216, 216, 216);
        padding: 2%;
        position: relative;
    }

    footer section {
        height: 30vh;
    }

    .footerall {
        margin-top: 5%;
    }

    footer div {
        padding: 0 24px;
        font-size: 13px;
    }

    .footermenu li a:nth-child(2) {
        padding-left: 20px;
    }

    .footercall {
        padding: 0px;
        margin-top: 10px;
    }

    .footercall span {
        padding-left: 15px;
        color: #000;
    }

    .footerinfo {
        margin-top: 30px;
    }

    .footerinfo div {
        padding: 0px;
    }

    .footerinfo div:nth-child(1) {
        display: flex;
    }

    .footerinfo div:nth-child(2) {
        display: flex;
    }

    .footerinfo li {
        padding: 5px 11px 5px 0px;
        margin: 0px 10px 0px 0px;
    }

    .footercopy {
        margin-top: 20px;
        padding: 0px;
    }

    .footercopy span {
        color: #000;
    }

    .footercopy span:nth-child(1) {
        margin: 0px 15px 0px 0px;
    }

    .logo img {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 100px;
        height: 35px;
        background-size: contain;
    }
}